

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Morya</a>
    </div>
    <ul class="pull-right nav navbar-nav">


      <!--<li class="active"><a ui-sref="dashboard">Events</a></li>-->
      <li ng-class="{ active: isActive('/home') }"><a ui-sref="home">Home</a></li>
      <li ng-class="{ active: isActive('/home/list_of_mandals') }"><a ui-sref="home.mandals">List Of Mandals</a></li>


    </ul>
  </div>
</nav>












<!--<nav class="navbar navbar-inverse user_nav">-->
  <!--<div class="container-fluid">-->
    <!--<div class="navbar-header">-->
      <!--<a class="navbar-brand logo"><b>|| Morya ||</b></a>-->
    <!--</div>-->
    <!--<ul class="pull-right nav navbar-nav">-->
      <!--&lt;!&ndash;<li ui-sref-active-eq="active_tab"><a ui-sref="user.profile">Profile</a></li>&ndash;&gt;-->
      <!--<li ui-sref-active-eq="active_tab"><a ui-sref="user.committee">Home</a></li>-->
      <!--<li ui-sref-active-eq="active_tab"><a ui-sref="user.links">List Of Mandals</a></li>-->
    <!--</ul>-->
  <!--</div>-->
<!--</nav>-->
